@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2273 0.0038 286.0916);
  --card: oklch(0.9791 0 0);
  --card-foreground: oklch(0.2273 0.0038 286.0916);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2273 0.0038 286.0916);
  --primary: oklch(0.7122 0.1526 254.9868);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9510 0.0267 237.5723);
  --secondary-foreground: oklch(0.2273 0.0038 286.0916);
  --muted: oklch(0.9643 0.0103 247.9329);
  --muted-foreground: oklch(0.5471 0.0321 263.2921);
  --accent: oklch(0.9510 0.0267 237.5723);
  --accent-foreground: oklch(0.2273 0.0038 286.0916);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9274 0.0178 253.3431);
  --input: oklch(0.9274 0.0178 253.3431);
  --ring: oklch(0.7122 0.1526 254.9868);
  --chart-1: oklch(0.7122 0.1526 254.9868);
  --chart-2: oklch(0.6225 0.2041 259.9027);
  --chart-3: oklch(0.8088 0.0991 251.7533);
  --chart-4: oklch(0.8820 0.0588 253.9688);
  --chart-5: oklch(0.9315 0.0333 255.2077);
  --sidebar: oklch(0.9751 0.0127 244.2507);
  --sidebar-foreground: oklch(0.2273 0.0038 286.0916);
  --sidebar-primary: oklch(0.7122 0.1526 254.9868);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9510 0.0267 237.5723);
  --sidebar-accent-foreground: oklch(0.2273 0.0038 286.0916);
  --sidebar-border: oklch(0.9274 0.0178 253.3431);
  --sidebar-ring: oklch(0.7122 0.1526 254.9868);
  --font-sans: Chocolate Classical Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Amethysta, ui-serif, serif;
  --font-mono: B612 Mono, ui-monospace, monospace;
  --radius: 1rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.11;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.11), 0px 1px 2px -1px hsl(0 0% 0% / 0.11);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.11), 0px 1px 2px -1px hsl(0 0% 0% / 0.11);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.11), 0px 2px 4px -1px hsl(0 0% 0% / 0.11);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.11), 0px 4px 6px -1px hsl(0 0% 0% / 0.11);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.11), 0px 8px 10px -1px hsl(0 0% 0% / 0.11);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.28);
  --tracking-normal: 0em;
  --spacing: 0.21rem;

  --vis-line-gapfill-stroke-dasharray: 2 3;
  --vis-line-gapfill-stroke-opacity: 0.8;
  --vis-line-gapfill-stroke-dashoffset: 0;
}

.dark {
  --background: oklch(0.2394 0.0354 262.5860);
  --foreground: oklch(0.9274 0.0178 253.3431);
  --card: oklch(0.3313 0.0451 260.0922);
  --card-foreground: oklch(0.9274 0.0178 253.3431);
  --popover: oklch(0.2394 0.0354 262.5860);
  --popover-foreground: oklch(0.9274 0.0178 253.3431);
  --primary: oklch(0.7477 0.1411 243.2905);
  --primary-foreground: oklch(0.2394 0.0354 262.5860);
  --secondary: oklch(0.4345 0.1234 256.2158);
  --secondary-foreground: oklch(0.9274 0.0178 253.3431);
  --muted: oklch(0.4408 0.0486 261.9585);
  --muted-foreground: oklch(0.7413 0.0420 255.3364);
  --accent: oklch(0.4345 0.1234 256.2158);
  --accent-foreground: oklch(0.9274 0.0178 253.3431);
  --destructive: oklch(0.6393 0.2463 27.9245);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4408 0.0486 261.9585);
  --input: oklch(0.4408 0.0486 261.9585);
  --ring: oklch(0.7477 0.1411 243.2905);
  --chart-1: oklch(0.7477 0.1411 243.2905);
  --chart-2: oklch(0.6791 0.1767 249.5211);
  --chart-3: oklch(0.8238 0.1002 238.1339);
  --chart-4: oklch(0.8981 0.0596 233.0618);
  --chart-5: oklch(0.9715 0.0167 230.9006);
  --sidebar: oklch(0.2394 0.0354 262.5860);
  --sidebar-foreground: oklch(0.9274 0.0178 253.3431);
  --sidebar-primary: oklch(0.7477 0.1411 243.2905);
  --sidebar-primary-foreground: oklch(0.2394 0.0354 262.5860);
  --sidebar-accent: oklch(0.4345 0.1234 256.2158);
  --sidebar-accent-foreground: oklch(0.9274 0.0178 253.3431);
  --sidebar-border: oklch(0.4408 0.0486 261.9585);
  --sidebar-ring: oklch(0.7477 0.1411 243.2905);
  --font-sans: Chocolate Classical Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Amethysta, ui-serif, serif;
  --font-mono: B612 Mono, ui-monospace, monospace;
  --radius: 1.25rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.11;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.11), 0px 1px 2px -1px hsl(0 0% 0% / 0.11);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.11), 0px 1px 2px -1px hsl(0 0% 0% / 0.11);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.11), 0px 2px 4px -1px hsl(0 0% 0% / 0.11);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.11), 0px 4px 6px -1px hsl(0 0% 0% / 0.11);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.11), 0px 8px 10px -1px hsl(0 0% 0% / 0.11);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.28);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 5px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s linear;
}

.fade-enter,
.fade-leave-to {
  transition: opacity 0.2s linear;
  opacity: 0;
}