---
openapi: 3.1.0
components:
  schemas:
    AlertAction:
      type: string
      enum:
      - SET
      - REMOVE
    AlertDTO:
      type: object
      properties:
        productId:
          type: integer
          format: int64
        priceLevel:
          type: number
    ExternalProductQueryMessage:
      type: object
      properties:
        keyword:
          type: string
        sources:
          type: array
          items:
            type: string
    JobInfo:
      type: object
      required:
      - id
      - type
      - frequency
      - status
      - lastResult
      - lastRunTime
      - nextExecTime
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        enabled:
          type: boolean
        name:
          type: string
        description:
          type: string
        type:
          type: string
          readOnly: true
          minLength: 1
        frequency:
          type: string
          readOnly: true
          minLength: 1
        status:
          readOnly: true
          type: string
          minLength: 1
          $ref: "#/components/schemas/JobStatus"
        lastResult:
          readOnly: true
          type: string
          minLength: 1
          $ref: "#/components/schemas/JobStatus"
        lastRunTime:
          readOnly: true
          type: string
          minLength: 1
          $ref: "#/components/schemas/LocalDateTime"
        nextExecTime:
          readOnly: true
          type: string
          minLength: 1
          $ref: "#/components/schemas/LocalDateTime"
        parameters:
          type: object
          additionalProperties:
            type: string
    JobStatus:
      type: string
      enum:
      - RUNNING
      - PAUSED
      - DISABLED
      - ENABLED
      - COMPLETED
      - ERROR
    LocalDate:
      type: string
      format: date
      examples:
      - 2022-03-10
    LocalDateTime:
      type: string
      format: date-time
      examples:
      - 2022-03-10T12:15:50
    PeriodLength:
      type: string
      enum:
      - WEEK
      - MONTH
      - QUARTER
      - YEAR
    ProductInfo:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        name:
          type: string
          minLength: 1
        imgUrl:
          type: string
        desc:
          type: string
        gtin:
          type: string
          maxLength: 14
          minLength: 8
          pattern: "^([0-9]{8}|[0-9]{12,14})$"
        unit:
          type: string
          default: PER_UNIT
          $ref: "#/components/schemas/Unit"
        latestQuotes:
          type: array
          items:
            $ref: "#/components/schemas/SimpleQuoteDTO"
          readOnly: true
        stats:
          type: object
          additionalProperties:
            type: number
          readOnly: true
        quantityPerItem:
          type: number
        itemPerBundle:
          type: integer
          format: int32
        tags:
          type: array
          uniqueItems: true
          items:
            type: string
      required:
      - name
      - unit
    ProductQuoteImportBatchDTO:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        cronTrigger:
          type: string
        storeList:
          type: array
          items:
            type: integer
            format: int64
        keyword:
          type: string
    ProductResult:
      type: object
      properties:
        productList:
          type: array
          items:
            $ref: "#/components/schemas/ProductInfo"
        totalRecords:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int64
        pageSize:
          type: integer
          format: int32
        currentPage:
          type: integer
          format: int64
    QuoteDTO:
      type: object
      properties:
        productInfo:
          $ref: "#/components/schemas/ProductInfo"
        storeInfo:
          type: object
          anyOf:
          - $ref: "#/components/schemas/StoreInfo"
          - $ref: "#/components/schemas/WithId"
        quoteDate:
          type: string
          $ref: "#/components/schemas/LocalDate"
        price:
          type: number
        discountType:
          $ref: "#/components/schemas/Type"
        discountPrice:
          type:
          - number
          - "null"
        multibuyQuantity:
          type: integer
          format: int32
      required:
      - storeInfo
      - quoteDate
      - price
    QuoteResult:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/QuoteDTO"
    Result:
      description: Result message
      type: object
      properties:
        result:
          type: string
        msg:
          type: string
    SetAlertMessage:
      type: object
      properties:
        action:
          $ref: "#/components/schemas/AlertAction"
        targetPrice:
          type: number
    SimpleQuoteDTO:
      type: object
      properties:
        productName:
          type: string
        productImgPath:
          type: string
        productId:
          type: integer
          format: int64
        storeInfo:
          $ref: "#/components/schemas/StoreInfo"
        quoteDate:
          type: string
          $ref: "#/components/schemas/LocalDate"
        price:
          type: number
        unitScale:
          type: number
        unitPrice:
          type: number
        unit:
          type: string
        discountType:
          $ref: "#/components/schemas/Type"
        discountPrice:
          type: number
        multibuyQuantity:
          type: number
      required:
      - quoteDate
      - price
      - unitPrice
    StoreImportBatchDTO:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        cronTrigger:
          type: string
        storeGroupList:
          type: array
          items:
            type: integer
            format: int64
    StoreInfo:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        name:
          type: string
        address:
          type: string
        storeGroupLogoPath:
          type: string
        url:
          type: string
      required:
      - name
    Type:
      type: string
      enum:
      - PERCENTAGE
      - FIXED_AMOUNT
      - BUNDLE
      - NEAR_EXPIRY
      - OTHER
    Unit:
      type: string
      enum:
      - EA
      - KG
      - ML
      - G
      - L
      - M
    WithId:
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
      type: object
paths:
  /api/admin/batch/all:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/JobInfo"
      summary: Get All Jobs
      tags:
      - Admin Resource
  /api/admin/batch/delete:
    delete:
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
      summary: Delete Batch
      tags:
      - Admin Resource
  /api/admin/batch/disable:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
        "400":
          description: Bad Request
      summary: Disable Batch
      tags:
      - Admin Resource
  /api/admin/batch/enable:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
        "400":
          description: Bad Request
      summary: Enable Batch
      tags:
      - Admin Resource
  /api/admin/batch/newProductQuoteImport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductQuoteImportBatchDTO"
        required: true
      responses:
        "202":
          description: Batch created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
      summary: Create Batch
      tags:
      - Admin Resource
  /api/admin/batch/newStoreImport:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreImportBatchDTO"
        required: true
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
      summary: Create Batch
      tags:
      - Admin Resource
  /api/admin/batch/{batchId}/run:
    post:
      parameters:
      - name: batchId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
      summary: Run Batch
      tags:
      - Admin Resource
  /api/admin/store/new:
    post:
      responses:
        "201":
          description: Created
      summary: Create Store
      tags:
      - Admin Resource
  /api/admin/store/search:
    get:
      parameters:
      - name: q
        in: query
        schema:
          type: string
          default: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StoreInfo"
      summary: Get All Stores
      tags:
      - Admin Resource
  /api/common/latestDeals:
    get:
      parameters:
      - name: s
        in: query
        schema:
          type: integer
          format: int32
          default: 5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResult"
      summary: Get Recent Discount
      tags:
      - Pricekeep Resource
  /api/product/alerts:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SimpleQuoteDTO"
      summary: Get Today Alert Trigger
      tags:
      - Product Resource
  /api/product/all:
    get:
      parameters:
      - name: keyword
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: "1"
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: "25"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResult"
      summary: Get All Product
      tags:
      - Product Resource
  /api/product/discounts:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SimpleQuoteDTO"
      summary: Get Today Discount
      tags:
      - Product Resource
  /api/product/extSources:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      summary: Get Available Ext Sources
      tags:
      - Product Resource
  /api/product/gtin/{gtin}:
    get:
      parameters:
      - name: gtin
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductInfo"
      summary: Get Product By Gtin
      tags:
      - Product Resource
  /api/product/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductInfo"
        required: true
      responses:
        "201":
          description: Successfully created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductInfo"
        "400":
          description: Data conflict
          content:
            application/json: {}
      summary: Create Product
      tags:
      - Product Resource
  /api/product/search:
    get:
      parameters:
      - name: q
        in: query
        schema:
          type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProductInfo"
      summary: Search Product
      tags:
      - Product Resource
  /api/product/searchExt:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExternalProductQueryMessage"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/QuoteDTO"
        "400":
          description: Bad Request
      summary: Find External Product
      tags:
      - Product Resource
  /api/product/suggest:
    get:
      parameters:
      - name: q
        in: query
        schema:
          type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      summary: Suggested Words
      tags:
      - Product Resource
  /api/product/{productId}:
    get:
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductInfo"
      summary: Get Product By Id
      tags:
      - Product Resource
  /api/product/{productId}/edit:
    post:
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductInfo"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
        "400":
          description: Bad Request
      summary: Edit Product
      tags:
      - Product Resource
  /api/product/{productId}/editAlert:
    post:
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetAlertMessage"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
        "400":
          description: Bad Request
      summary: Edit Alert
      tags:
      - Product Resource
  /api/product/{productId}/getAlert:
    get:
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertDTO"
      summary: Get Alert
      tags:
      - Product Resource
  /api/product/{productId}/quote:
    post:
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuoteDTO"
        required: true
      responses:
        "202":
          description: New price quoted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteDTO"
        "400":
          description: Data conflict
          content:
            application/json: {}
      summary: Quote Price
      tags:
      - Product Resource
  /api/product/{productId}/quoteHist:
    get:
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: discount
        in: query
        schema:
          type: boolean
      - name: l
        in: query
        schema:
          $ref: "#/components/schemas/PeriodLength"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/QuoteDTO"
      summary: Get Price History
      tags:
      - Product Resource
info:
  title: pricekeep API
  version: 1.0.0-SNAPSHOT
servers:
- url: http://localhost:8080
  description: Auto generated value
- url: http://0.0.0.0:8080
  description: Auto generated value
